################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Utilities/libraries/Deployment/obj
/Utilities/libraries/Deployment/bin
/Utilities/applications/DeploymentTool/obj
/Utilities/applications/DeploymentTool/bin
/Framework/libraries/Framework-Sdk/obj
/Framework/libraries/Framework-Sdk/bin
/Framework/libraries/Framework-Core/obj
/Framework/libraries/Framework-Core/bin
/Framework/libraries/Framework-Abstractions/obj
/Framework/libraries/Framework-Abstractions/bin
/Utilities/applications/TechnoBee.Licensing.Utilities.DeploymentTool/bin
/Utilities/applications/TechnoBee.Licensing.Utilities.DeploymentTool/obj
/Utilities/libraries/Deployment-Abstractions/bin
/Utilities/libraries/Deployment-Abstractions/obj
/Utilities/libraries/Deployment-Core/bin
/Utilities/libraries/Deployment-Core/obj
/Utilities/tests/TechnoBee.Licensing.Utilities.Deployment-Core_Test/bin
/Utilities/tests/TechnoBee.Licensing.Utilities.Deployment-Core_Test/obj
/Utilities/libraries/Deployment-Sdk/bin
/Utilities/libraries/Deployment-Sdk/obj
/Utilities/libraries/LicensingHelper/bin
/Utilities/libraries/LicensingHelper/obj



#   These items shall be removed when Cpp projects' build outputs
#   are placed in project folders.
/Debug
/Release
/Net2.0POC/bin
/Net2.0POC/obj
/LicenseUtil/bin
/LicenseUtil/obj
/Client/libraries/Core/obj
/Client/libraries/Core/bin
/Clients/libraries/CppSdk/Debug
/Clients/libraries/CppClrFacade/Debug
/Clients/poc/CppPoc/Debug
/Clients/libraries/Abstractions/obj
/Clients/libraries/Abstractions/bin
/Clients/libraries/Annotations/obj
/Clients/libraries/Annotations/bin
/Clients/libraries/ComInterop/obj
/Clients/libraries/ComInterop/bin
/Clients/libraries/CppClrFacade/Debug
/Clients/libraries/CppClrFacade/Release
/Clients/libraries/Sdk/obj
/Clients/libraries/Sdk/bin
/Clients/poc/NetPoc/obj
/Clients/poc/NetPoc/bin
/Clients/cases/NetApplication01/obj
/Clients/cases/NetApplication01/bin
/Clients/tests/Core_Tests/obj
/Clients/tests/Core_Tests/bin
/Clients/libraries/Core/obj
/Clients/libraries/Core/bin
/Clients/libraries/LocalStorage/bin
/Clients/libraries/LocalStorage/obj
/Clients/tests/ComInterop_Tests/bin
/Clients/tests/ComInterop_Tests/obj

/Domain/Core/libraries/Abstractions/obj
/Domain/Core/libraries/Abstractions/bin
/Domain/Counters/libraries/DataModels/obj
/Domain/Counters/libraries/DataModels/bin
/Domain/Counters/tests/Test/obj
/Domain/Counters/tests/Test/bin


/Helpers/libraries/DocumentStorage/obj
/Helpers/libraries/DocumentStorage/bin
/Helpers/libraries/IO/obj
/Helpers/libraries/IO/bin
/LicensingServer/bin
/LicensingServer/obj
/Net20/applications/Net2.0POC/bin
/Net20/applications/Net2.0POC/obj
/Net20/libraries/LicenseUtil/bin
/Net20/libraries/LicenseUtil/obj
/Server/applications/LicensingManager/bin
/Server/applications/LicensingManager/obj
/Storage/libraries/Abstractions/obj
/Storage/libraries/Abstractions/bin
/Storage/libraries/DataModels/obj
/Storage/libraries/DataModels/bin
/Storage/libraries/Local/obj
/Storage/libraries/Local/bin
/Storage/tests/TechnoBee.Licensing.Storage.DataTest/bin
/Storage/tests/TechnoBee.Licensing.Storage.DataTest/obj
/Utilities/applications/CertificateTool/bin
/Utilities/applications/CertificateTool/obj
/Utilities/tests/CertificateTool_IntegrationTests/bin
/Utilities/tests/CertificateTool_IntegrationTests/obj
/Utilities/tests/CertificateTool_UnitTests/bin
/Utilities/tests/CertificateTool_UnitTests/obj
/Utilities/libraries/Fingerprints/bin/Debug/net47
/Utilities/libraries/Fingerprints/obj
/Utilities/libraries/Deployment-Abstractions/bin
/Utilities/libraries/Deployment-Abstractions/obj
/Utilities/libraries/Deployment-Core/bin
/Utilities/libraries/Deployment-Abstractions/obj
/Utilities/libraries/Deployment-Core/bin
/Utilities/libraries/Deployment-Core/obj
/Utilities/libraries/Deployment-Sdk/bin
/Utilities/libraries/Deployment-Sdk/obj
/Utilities/libraries/Fingerprints/bin
/Utilities/libraries/Fingerprints/obj
/Utilities/libraries/LicensingHelper/bin
/Utilities/libraries/LicensingHelper/obj
/Utilities/tests/TechnoBee.Licensing.Utilities.Deployment-Core_Test/bin
/Utilities/tests/TechnoBee.Licensing.Utilities.Deployment-Core_Test/obj
/Utilities/libraries/LicensingHelper/obj
/Utilities/tests/TechnoBee.Licensing.Utilities.Deployment-Core_Test/obj
/Utilities/tests/Deployment-Core_Test/bin

/Utilities/tests/Deployment-Core_Test/obj
/Utilities/libraries/Common/obj
/Utilities/libraries/Common/bin
/Utilities/libraries/Common-Abstractions/obj
/Utilities/libraries/Common-Abstractions/bin
/Utilities/libraries/Common-Core/obj
/Utilities/libraries/Common-Core/obj
/Utilities/libraries/Common-Core/bin
/Helpers/libraries/Reflection/obj
/Helpers/libraries/Reflection/bin
/Facades/libraries/ProductFacadeBroker/obj
/Facades/libraries/ProductFacadeBroker/bin
/Facades/libraries/Common/obj
/Facades/libraries/Common/bin
/Facades/cases/PeopleCountingSolutions/obj
/Facades/cases/PeopleCountingSolutions/bin
/Facades/tests/ProductFacadeBroker_Tests/bin
/Facades/tests/ProductFacadeBroker_Tests/obj
/App/api/TechnoBee.Marketing.App.CountersApi/bin
/App/api/TechnoBee.Marketing.App.CountersApi/obj
/App/applications/LicensingManager/bin/x86
/App/applications/LicensingManager/obj
/App/applications/TestWebApi/bin
/App/applications/TestWebApi/obj
/App/sites/TechnoBee.Marketing.App.CountersViewer/bin
/App/sites/TechnoBee.Marketing.App.CountersViewer/obj
/Clients/poc/CppPoc/Debug
/Clients/poc/CppPoc/Release
