<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Users\Павел\Documents\Deploys\CountersWebApi</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Technobee.Marketing.Counters.DataModels.Data.CounterDbContext-Web.config Connection String">
      <ParameterValue>Data Source=localhost\sqlexpress02;Initial Catalog=Korablik;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Technobee.Marketing.Core_Abstractions.Data.CommonDbContext-Web.config Connection String">
      <ParameterValue>Data Source=localhost\sqlexpress02;Initial Catalog=Korablik;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Technobee.Marketing.Core_Abstractions.Data.CommonDbContext" />
    <_ConnectionStringsToInsert Include="Technobee.Marketing.Counters.DataModels.Data.CounterDbContext" />
  </ItemGroup>
</Project>